.move
{
    width: 5.5rem;
    float: left;
}

.move-count
{
    width: 4rem;
    float: right;
}

.progress
{
    /* Override default */
    background-color: white;
}

percentage-bar
{
    float: right;
}